html {
  padding:0;
}

body {
  font-family: arial;
  padding:0;
  margin:0;
}

#header {
  margin:0;
  padding:0;
  padding-left: 10px;
  padding-top:5px;
  height: 80px;
  color:white;
  background-color:#507AAA;
}
#header h1 {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: 24px;
  margin:0;
}

#menu {
  float: left;
  width:300px;
  position:relative;
  z-index:9;
}

#main {
  position:absolute;
  top: 85px;
  bottom:0px;
  left: 300px;
  right:0px;
  margin: 0;
}

.clearfix:after {
    content: ".";  
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.lists-search {
  padding-top:5px;
  height: 40px;
  border:1px solid red;
}


.lists-search form, .lists-search div {
  float:left;
}

.lists-search .new {
  margin-left:20px;
}

.searchfield {
  width: 200px;
}

.tab {
  display: none;
}
.tab.tab-active {
  display: block;
}

.list div {
  float: left;
  width: 150px;
}

.box {
  border: 1px solid #888;
  background-color: #EEE;
  border-radius:10px;
  padding: 5px;
  position:absolute;
  z-index: 5;
  margin-left:5px;
  font-size: 0.8em;
}

.box .item {
  cursor: pointer;
}

.box .item:hover {
  font-weight: bold;
}

.click {
  cursor: pointer;
}

.mailing-lists-container {
  position: absolute;
  /* border: 1px solid red; */
  display:block;
  bottom: 0px;
  top: 70px;
  right: 0px;
  left: 0px;
  list-style-type:none;
  overflow: auto;
  margin:0;
}


.mailing-lists-head {
  background-color: #D5D8E0;
  border-bottom:1px solid #CCC;
  margin:0;
  padding:0;
}
.mailing-lists ul {
  background-color: #EDF0F9;
  border-bottom:1px solid #CCC;
}

.mailing-lists ul, .mailing-lists-head {
  margin:0;
  padding:0;
  display:block;
}

.mailing-lists li, .mailing-lists-head li  {
  float:left;
  width:200px;
  list-style-type: none;
}


.data-table  {
  width:100%;
  color: #484848;
}
.data-table th:{
  background-color: #99F;
}

.data-table tr:nth-child(even) {
  background-color: #FFF;
}
.data-table tr:nth-child(odd) {
  background-color: #F6F7F8;
}

