body {
  font-family: arial;
  padding:0;
}

#menu {
  float: left;
  width:300px;
}

#main {
  float: left;
}

.tab {
  display: none;
}
.tab.tab-active {
  display: block;
}

.list div {
  float: left;
  width: 150px;
}

.box {
  border: 1px solid #888;
  background-color: #EEE;
  border-radius:10px;
  padding: 5px;
  position:absolute;
  z-index: 5;
  margin-left:5px;
  font-size: 0.8em;
}

.box .item {
  cursor: pointer;
}

.box .item:hover {
  font-weight: bold;
}

.click {
  cursor: pointer;
}

.mailing-lists {
  position: absolute;
  /* border: 1px solid red; */
  bottom: 0px;
  top: 80px;
  right:0px;
  left:200px;
  list-style-type:none;
  overflow: auto;
  margin:0;
}

.mailing-lists li {
  background-color: #EDF0F9;
  border-bottom:1px solid #CCC;
}