<h1>Home#index</h1>
<p>Hello World from support_tool</p>
<div id="container">
  <div id="menu">
    <ul>
      <li><a href="#lists">Mailinglisten</a></li>
      <li><a href="#pad">Pad</a></li>
    </ul>
  </div>
  <div id="main">
    <div class="tab tab-lists tab-active"></div>
    <div class="tab tab-pad">Pad administration</div>
  </div>
</div>
