<!DOCTYPE html>
<html>
<head>
  <title>SupportTool</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'sammy', 'plugins/sammy.template' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
